html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.toolbar {
  display: flex;
  padding: 0 20px;
  background-color: #3c3a39;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
}

.desktop_toolbar {
  display: none;
}

#desktop_version_grid {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.intro {
  height: 500px;
  background-color: #1c1a19;
  padding: 0 24px 130px 24px;
  background-image: url("./images/Intro_background_image.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 110%;
}

.intro h1 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  color: #ff6b00;
  padding-top: 120px;
  margin: auto;
  font-weight: lighter;
  padding-bottom: 10px;
  font-size: 56px;
  line-height: 64px;
}

.content > h2 {
  font-family: roboto, sans-serif;
  color: #fff5e1;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.content > p {
  font-family: poppins, sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.socials {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 20px;
}

li {
  list-style-type: none;
}

.socials > li {
  list-style-type: none;
}

.fab {
  color: #dbd8d7;
}

.recent_works {
  padding: 100px 45px;
}

.works_title > h3 {
  text-align: center;
  color: #1c1a19;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}

.works_title > hr {
  width: 100%;
  border-color: #e5e5e5;
}

.recent_works img {
  padding: 75px 0 24px 0;
  width: 100%;
  height: 250px;
}

.recent_works h4 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #091e42;
}

.recent_works .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  width: 100%;
}

.recent_works li {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.recent_works p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px 10px 0;
  margin: 0;
}

button {
  height: 48px;
  left: 0;
  top: 259px;
  border-radius: 0;
  padding: 12px;
  background-color: #ff6b00;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
  margin-top: 3px;
  float: left;
  border: none;
}

button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55b00;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

#mobile_version_grid {
  display: grid;
  padding: 25px;
  gap: 24px;
  grid-template: repeat(auto-fill, minmax(300px, 1fr)) / 1fr;
}

.grid-item {
  background: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(./images/Personal_art.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  margin-top: 20px;
}

.grid-item h3 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: lighter;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

.grid-item-headline {
  padding: 0 15px;
}

.grid-item p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

.grid-item .tags {
  display: flex;
  gap: 15px;
  padding: 0 15px;
}

.grid-item li {
  color: white;
  background: rgba(255, 255, 255, 0.24);
  border: none;
  padding: 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.grid-item > button {
  width: 100%;
  margin-top: 0;
  height: auto;
}

.about-me {
  margin-top: 100px;
  background: #1c1a19;
}

.image-container {
  height: 300px;
  width: 100%;
  background-image: url("./images/Illustration_image.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.description_about_my_self h3 {
  font-family: Crete Round, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  padding: 120px 24px 15px 24px;
  margin: 0;
}

.description_about_my_self p {
  color: #f4f5f7;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 24px 10px 24px;
}

.description_about_my_self button {
  margin-left: 24px;
}

.description_about_my_self > hr {
  width: 75%;
  border-color: #fff;
  padding: 0 24px 0 24px;
}

.language_frameworks_and_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 100px 24px 10px 10px;
}

.language {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 44px;
  list-style-image: url("./images/Rectangle_bullet.png");
  list-style-position: inside;
  color: white;
  padding: 20px;
}

.frameworks {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 44px;
  list-style-image: url("./images/Rohbos_bullet.png");
  list-style-position: inside;
  color: white;
  padding: 20px;
}

.skills {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 44px;
  list-style-image: url("./images/Circle_bullet.png");
  list-style-position: inside;
  color: white;
  padding: 20px;
}

.my_skills {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
  color: white;
  padding: 10px 10px;
}

.motivation {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  padding: 130px 24px 24px 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 10px;
  width: 90%;
}

.form input {
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  padding-left: 15px;
}

.comment_button {
  align-self: center;
}

#comment {
  border: 0;
  height: 150px;
  width: 100%;
  background: #fbf8f7;
  padding-left: 15px;
  padding-top: 10px;
}

::placeholder {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

textarea {
  padding-top: 10px;
  line-height: 24px;
}

#full_name,
#email {
  height: 50px;
}

.rectangle {
  padding: 100px 15px 15px 15px;
}

.footer_line {
  color: #dfe1e6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.socials_bottom {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 20px;
  padding: 10px 20px 0 20px;
  color: #505f79;
  align-items: center;
}

.socials_bottom .fab {
  color: #505f79;
}

.bottom_footer_line {
  border: 3px solid #0d151e;
  border-radius: 10px;
  width: 120px;
}

.grid-item:hover {
  transform: scale(1.1);
}

img:hover {
  transform: scale(1.1);
}

.motivation:hover {
  transform: translate(30px, 30px);
}

.logo {
  animation: Rotating_logo 3s ease;
}

@keyframes Rotating_logo {
  from {
    transform: rotate(0deg);
    color: white;
  }

  to {
    transform: rotate(360deg);
    color: #ff6b00;
  }
}

@media (min-width: 992px) {
  .toolbar {
    display: none;
  }

  #mobile_version_grid {
    display: none;
  }

  .desktop_toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    background-color: #3e3c3c;
  }

  .desktop_toolbar h3 {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: white;
  }

  .desktop_options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .intro {
    height: 600px;
    background-color: #1c1a19;
    background-image: url("./images/Illustration-header.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    display: flex;
    background-size: 45%;
  }

  .intro .social_icons {
    order: -1;
    display: flex;
    padding-left: 20px;
  }

  .intro .content {
    width: 50%;
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  .content h1 {
    font-family: Crete Round, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 85px;
    margin: 0;
  }

  .content h3 {
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }

  .content p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }

  .socials {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 100%;
    padding: 0 50px 0 15px;
    align-content: center;
  }

  .recent_works {
    padding: 80px;
  }

  .works_title {
    display: flex;
    align-items: center;
  }

  .works_title h3 {
    text-align: left;
  }

  .works_title hr {
    height: 0;
    width: 65%;
  }

  .headlines {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .headlines .image_headline img {
    width: 500px;
    height: 400px;
  }

  .headlines .discription_headline {
    padding: 20px 0 20px 20px;
    font-family: Crete Round, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0;
  }

  .headlines .discription_headline .tags {
    flex-wrap: nowrap;
    margin: 20px 0 20px 0;
  }

  #desktop_version_grid {
    clear: both;
    display: grid;
    padding: 25px;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: auto;
  }

  .grid-item > button {
    width: 100%;
    height: 50px;
  }

  .grid-item {
    background: linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(./images/Personal_art.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    margin-top: 20px;
  }

  .grid-item h3 {
    padding-top: 80px;
  }

  .about-me {
    background-color: #1c1a19;
    background-image: url("./images/About-me-illustration-img.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 90px;
    background-size: 40%;
    height: auto;
  }

  .image-container {
    background-image: none;
    height: 200px;
  }

  .description_about_my_self {
    font-family: Crete Round, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 140px;
  }

  .description_about_my_self p {
    width: 50%;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }

  .description_about_my_self hr {
    width: auto;
  }

  .language_frameworks_and_skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 100px 24px 100px 10px;
    gap: 100px;
  }

  .motivation_and_form {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .motivation {
    text-align: left;
    padding: 130px 50px 200px 130px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    width: 35%;
  }

  .form {
    width: 65%;
    padding-top: 130px;
  }

  .rectangle {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .bottom_footer_line {
    display: none;
  }

  .socials_bottom {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
